    <!-- <h1 class="display-1">card works!</h1> -->

<div class="card text-center" style="width: 18rem;">
    <h4 class="card-header">{{version}}</h4> 
    <img class="card-img-top" src="" alt="">
    <div class="card-body">
        <!-- <a href="" class="btn btn-dark" style="width: ;">buttons</a> -->
        <h2 class="card-title">{{price1}}</h2>
        <ul class="" style="list-style: none;">
            <li *ngFor="let user of card;index as i">{{card[i]}}</li>
            <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-primary btn-lg btn-block w-100">Get started</button>
    </div>
</div>


